node_modules/
.vscode
.idea
.env
.rabbitmq_data
data
.redis_data
dist/
scratch/
*.sqlite
*.sqlite-journal

# Android Security & Credentials
google-services.json
**/google-services.json
*.keystore
*.jks
.artifacts/