{
  "project_info": {
    "project_number": "YOUR_PROJECT_NUMBER",
    "firebase_url": "https://YOUR_PROJECT_ID.firebaseio.com",
    "project_id": "YOUR_PROJECT_ID",
    "storage_bucket": "YOUR_PROJECT_ID.appspot.com"
  },
  "client": [
    {
      "client_info": {
        "mobilesdk_app_id": "1:YOUR_PROJECT_NUMBER:android:YOUR_APP_ID",
        "android_client_info": {
          "package_name": "br.com.codecode.workix.android"
        }
      },
      "oauth_client": [],
      "api_key": [
        {
          "current_key": "YOUR_GOOGLE_API_KEY_HERE"
        }
      ],
      "services": {
        "analytics_service": {
          "status": 1
        }
      }
    }
  ],
  "configuration_version": "1"
}
